---
# yamllint disable rule:line-length
name: update-aqua-checksum

on:
  pull_request:
    paths:
    - 'images/homelab-workspace/aqua.yaml'
    - 'images/homelab-workspace/aqua-checksums.json'
    - '.github/workflows/update-aqua-checksum.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  update-aqua-checksums:
    uses: ppat/github-workflows/.github/workflows/update-aqua-checksums.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      git_ref: ${{ github.head_ref || github.ref_name }}
      aqua_dirs: |
        images/homelab-workspace
      prune: true
    secrets:
      app_id: ${{ secrets.HOMELAB_BOT_APP_ID }}
      app_private_key: ${{ secrets.HOMELAB_BOT_APP_PRIVATE_KEY }}
